.form-test {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid bisque;
  color: #9ec5ab;
  background-color: #004643;
  height: 90%;
  width: 45%;
  overflow: scroll;
  }

.user-page-header {
  margin-top: 5%;
  padding: 1%;
  font-size: 2em;
  border: 1px solid bisque;
  color: #9ec5ab;
  background-color: #004643;
}

.main-form-and-res-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 42vh;
  width: 100%;
}