.manager-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.main-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.form-test {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid bisque;
  color: #9ec5ab;
  background-color: #004643;
  height: 90%;
  width: 45%;
  overflow: scroll;
}

.user-page-for-manager {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  margin-bottom: 1%;
}

.user-page-header-for-manager {
  font-size: 2em;
}

.main-form-and-res-containers-for-manager {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 22vh;
  width: 100%;
}