.display-user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  margin-left: 3%;
  }

.display-info-container {
display: flex;
align-items: flex-start;
flex-direction: row;
height: 16vh;
width: 80%;
margin-left: 3%;
border-top: 2px solid #32746d;
border-bottom: 2px solid #32746d;
overflow-x: scroll;
}

.bookings-title-container {
  display: inline-flex;
  flex-direction: row;
  width: 80%;
 }
 
 .bookings-cost {
   color: #004643;
   font-size: 1.5em;
   margin: 1% 7% 0 1%;
 }

.bookings-title {
  color: #004643;
  font-size: 2em;
}


.each-booking-container {
border: 2px solid bisque;
height: 12.5vh;
width: auto;
margin: 1%;
background-color: #004643;
}

.booking-text {
 color: bisque;
 font-size: 80%;
 overflow-wrap: normal;
}

.insertedText {
  color: #9ec5ab;
  font-size: 70%;
  overflow-wrap: break-word;
}
