.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid bisque;
  color: #9ec5ab;
  background-color: #004643;
  height: 50%;
  width: 80%;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
    width: 45%;
  }
  
  .room-labels {
    font-size: 1.5em;
  }
  
  .input-name {
    height: 4vh;
    width: 58%;
  }

  .submit-managers-forms {
  height: 4vh;
  width: 30%;
  }